<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.journal.nn.school123">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.LaunchActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoadingActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".activity.MainActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MarksInfo"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_marks_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MessageActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_message_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Settings"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.UpdateActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="Обновление"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.About"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="О программе"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.UsersActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.journal.nn.school123"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver android:name=".service.RestartService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.journal.nn.school123.service.RestartService" />
            </intent-filter>
        </receiver>
        <service android:name=".service.RefreshBackgroundService" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>